{% extends 'NfeBundle:Include:base.html.twig' %}

{% set loadjs = ['/bundles/nfe/js/pagination.js', '/bundles/nfe/js/rps-list.js'] %}

{% block head %}
    {{ include('NfeBundle:Include:head.html.twig', { 'head': { 'title': 'RPS' } }) }}
{% endblock %}

{% set content %}
    <h1>RPS
        <button class="btn btn-primary" id="novo-lote-rps" data-url="{{path('nfe_lote_rps_criar')}}"><i class="fa fa-folder-open"></i> Gerar Lote RPS</button>
        <button class="btn btn-primary" id="import-rps" data-url="{{path('nfe_rps_upload_csv')}}"><i class="fa fa-file-excel-o"></i> Importar</button>
        <a class="btn btn-primary" href="{{path('nfe_rps_importacao_listagem')}}"><i class="fa fa-archive"></i> Importações</a>
    </h1>

    <!--div class="panel-group filter-registers">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title clearfix">
                    <i class="fa fa-filter"></i> Filtrar Conteúdos
                    <a data-toggle="collapse" href="#form-filter" aria-expanded="true">
                        <i class="fa fa-angle-down pull-right"></i>
                        <i class="fa fa-angle-up pull-right"></i>
                    </a>
                </h4>
            </div>
            <div id="form-filter" class="panel-collapse collapse in" aria-expanded="true" style="">
                <form class="form-inline clearfix" role="form" id="admin-filter">
                    <div class="col-xs-12 block-form">
                        <div class="col-xs-12">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div-->
    <br><br>

    <div class="table-responsive">
        <table class="table table-hover table-striped" id="table-pagination">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cliente</th>
                    <th>Venda</th>
                    <th>Serviço</th>
                    <th>Valor</th>
                    <th>Data Criação</th>
                    <th>data Emissão</th>
                    <th>Série RPS</th>
                    <th>Lote</th>
                    <th>Nº NF</th>
                    <th>Cód. Verificação</th>
                    <th>ações</th>
                </tr>
            </thead>
            <tbody>
                {{ render(url('nfe_rps_listagem_paginacao', {'page': 0})) }}
            </tbody>
        </table>

        <nav>
          <ul class="pagination">
            <li>
              <a href="#" data-wrapper="table-pagination" data-url="{{ path('nfe_rps_listagem_paginacao', {'page': 0}) }}" data-page="1" data-label="Carregar mais registros">Carregar mais registros</a>
            </li>
          </ul>
        </nav>
    </div>
{% endset %}

{% block body %}
    {{ include('NfeBundle:Include:body.html.twig', {
        'pageid': 'rpslistagem',
        'content': content
    }) }}
{% endblock %}
